.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.nav-tabs .active{
	background-color:blue;
}

.nav-tabs .active a{
	color:white;
	background-color:blue;
}

.nav-tabs li{
	display:inline-block;
	list-style:none;
	width:90px;
	height:30px;
	line-height: 30px;
	text-align:center;
}

a{ 
    color: inherit;
    text-decoration: none;
}
 
 ul{
	 padding:0px;
 }
 
 .tab-container{
	 width:60%;
 }